<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<!--add key="connectionString" value="Data Source=DESKTOP-2SFQL7E\\SQLEXPRESS;Initial Catalog=lab1;Integrated Security=true;MultipleActiveResultSets=true"/-->
		<!-- ATENTIE!! TOATA VINA E A DUBLU backslash-ului; aparent, cand incerc sa ii fac escape aici, in app.config, nu e bine !! Daca las fara, merge-->
		<add key="connectionString" value="Data Source=DESKTOP-2SFQL7E\SQLEXPRESS;Initial Catalog=lab1;Integrated Security=true;MultipleActiveResultSets=true"/>
		<!--add key="parentTable" value="Subclub"/-->
		<add key="parentTable" value="Angajati"/>
		<add key="childTable" value="Sportiv"/>
	</appSettings>
</configuration>