<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="connectionString" value="Data Source=DESKTOP-2SFQL7E\\SQLEXPRESS;Initial Catalog=lab1;Integrated Security=true"/>
		<add key="parentTable" value=""/>
		<!--key e numele variabilei pe care o s-o folosesc in cod, iar value e numele tabelului din baza de date specificata cu care sa se faca bind-ul !!-->
		<add key="childTable" value=""/>
	</appSettings>
</configuration>